.blog-news {
  display: flex;
  width: 70.313%;
  margin: 0 auto;
  padding-bottom: 119px;

  &__blog-title {
    font-size: 32px;
    line-height: 54px;
    margin-bottom: 30px;
  }
  &__news-title {
    font-size: 32px;
    line-height: 54px;
    margin-bottom: 30px;
    margin-left: 67px;
  }

  &__item {
    display: flex;
    margin-bottom: 31px;
  }

  &__badge {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      border-width: 1.5rem 4.75rem 0 0;
      border-style: solid;
    }
    &-text {
      position: absolute;
      z-index: 2;
      top: 0.25rem;
      left: 0.5rem;
      color: #fff;
      font-size: 12px;
    }
  }
  &__blog-box {
    margin-left: 20px;
    position: relative;
  }
  &__news-box {
    margin-left: 67px;
    height: 87px;
    margin-bottom: 17px;
  }
  &__text-title {
    text-decoration: underline;
    font-weight: bold;
    line-height: 27px;
  }
  &__date01 {
    position: absolute;
    bottom: 0;
    font-size: 12px;
  }
  &__date02 {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 16px;
  }
  &__link {
    text-decoration: underline;
    line-height: 27px;
  }
}
