.complate {
  padding-top: 83px;
  padding-bottom: 80px;
  &__text {
    text-align: center;
    line-height: 27px;
    padding-bottom: 83px;
    span {
      display: block;
    }
  }

  &__link {
    display: block;
    text-align: center;
    text-decoration: underline;
  }
}
