.single-news {
  &__title {
    font-size: 28px;
    line-height: 48px;
    padding-bottom: 36px;
  }

  &__title02 {
    font-size: 26px;
    line-height: 39px;
    padding-bottom: 30px;
  }
  &__title03 {
    font-size: 22px;
    line-height: 33px;
    border-left: 4px solid;
    padding-left: 10px;
    margin-bottom: 27px;
  }
  &__date {
    text-align: right;
    padding-bottom: 60px;
  }
  &__text {
    padding-bottom: 30px;
    line-height: 24px;
  }
  &__lead {
    padding-left: 11px;
    line-height: 24px;
    &-box {
      display: flex;
      align-items: center;
      background-color: $colorGray;
      height: 104px;
      margin-bottom: 30px;
      padding-left: 17px;
      padding-right: 26px;
    }
    &-logo {
      font-size: 90px;
      color: #b4b4b4;
      padding-top: 16px;
    }
  }

  &__list {
    padding-bottom: 30px;
  }
  &__img {
    width: 400px;
    object-fit: cover;
    height: 250px;
    padding-bottom: 36px;
  }
  &__item {
    position: relative;
    padding-left: 21px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      display: block;
      width: 11px;
      height: 11px;
      background-color: $colorOrange;
      border-radius: 50%;
    }
  }
  &__link {
    color: $colorOrange;
    text-decoration: underline;
    padding-bottom: 60px;
    display: block;
  }
}
