nav.breadcrumb
  ol.breadcrumb__list(itemscope,itemtype="https://schema.org/BreadcrumbList")
    li.breadcrumb__item(itemprop="itemListElement", itemscope,itemtype="https://schema.org/ListItem")
      a(itemprop="item" href="../index.html")
        span(itemprop="name") ホーム
      meta(itemprop="position",content="1")
    li.breadcrumb__item(itemprop="itemListElement",itemscope,itemtype="https://schema.org/ListItem")
      span(itemprop="name") 料金体系
      meta(itemprop="position",content="2")
