section.contact
  .contact__box
    h2.contact__title まずは無料で資料請求から
    button.contact__btn
      a.contact__link 資料請求
    .contact__contact お問い合わせ
  .contact__text-box
    p.contact__text お電話でのお問い合わせはこちら
    h3.contact__tel 0123-456-7890
    p.contact__time 平日 08:00~20:00
