section.document
  .document__box
    h2.document__title まずは無料で資料請求から
    button.document__btn
      a.document__link 資料請求
    .document__contact お問い合わせ
  .document__text-box
    p.document__text お電話でのお問い合わせはこちら
    h3.document__tel 0123-456-7890
    p.document__time 平日 08:00~20:00
