nav.fnav
  ul.fnav__list
    li.fnav__item
      a(href="/") ホーム
    li.fnav__item
      a(href="/news/") お知らせ
    li.fnav__item
      a(href="/blog/") ブログ
    li.fnav__item
      a(href="/course/") コース・料金
