include _script

footer.footer
  .footer__inner
    include ./_fnav
    .footer__side-box
      a.footer__link(href="#")
        figure.footer__img
          img(src="/./images/top/logo.png", alt="ロゴ")
      .footer__tel-box
          img.footer__tel-logo(src="/./images/top/telwhite.png", alt="tel01")
          p.footer__tel 0123-456-7890
      p.footer__time 平日08:00~20:00
.footer__copyright
  p.footer__copyright-text © 2020 Engress
