nav.gnav
  ul.gnav__list
    li
      a.gnav__link(href="/") ホーム
    li
      a.gnav__link(href="/news/") お知らせ
    li
      a.gnav__link(href="/blog/") ブログ
    li
      a.gnav__link(href="/course/") コース・料金
