header.header
  .header__inner
    .header__left-box
      a.header__link(href="./index.html")
        img(src="./images/top/logo.png", alt="ロゴ")
      include ./_gnav.pug
    .header__right-box
      .header__text-box
        p.header__text01 平日08:00〜20:00
        .header__tel
          img.header__tel-logo(src="./images/top/tel01.png", alt="tel01")
          p.header__text02 0123-456-7890
      button.header__btn01
        a.header__btn01-link(href="#") 資料請求
      button.header__btn02
        a.header__btn02-link(href="#") お問い合わせ
