body {
  padding-top: 80px;

  font-feature-settings: "palt";
  text-size-adjust: 100%;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  height: auto;
  vertical-align: bottom;
}
