extends ./includes/_layout.pug
block titles
  - var title = 'Engress'
block content

  include ./includes/_header.pug

  section.fv
    .fv__inner
      h1.fv__title TOEFL対策はEngress
      p.fv__text 日本人へのTOEFL指導豊かな講師陣の<br/>コーチング型TOEFLスクール
      button.fv__btn
        a.fv__link(href="#") 資料請求
      div
        a.fv__contact(href="#") お問い合わせ
