
extends ../includes/_layout
block titles
  - let title = 'Engress'



  include ../includes/_header

  section.blog__top.top
    h1.top__title ブログ

  include ../mixin/_breadCrumb
  nav.breadcrumb
    +breadcrumb([
      ["ホーム", "/"],
      ["ブログ", "/blog/"]
    ])

  .content
    section.blog
      h2.blog__title 新着一覧
      .blog__items
        .blog__badge
            span.blog__badge-text カテゴリ１
        .blog__item
          figure.blog__img-wrapper
            a(href="#")
              img.blog__img(src="../images/top/sample01.png", alt="ブログイメージ０１")
          .blog__body
            p.blog__date 2020-12-01
            h3.blog__body-title
              a(href="#") ブログタイトルテキストテキストテキストテキスト
            p.blog__text 記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキスト<br/>
              | テキストテキストテキストテキスト
      .blog__items
        .blog__badge
            span.blog__badge-text カテゴリ２
        .blog__item
          figure.blog__img-wrapper
            a(href="#")
              img.blog__img(src="../images/top/sample02.png", alt="ブログイメージ０１")
          .blog__body
            p.blog__date 2020-12-01
            h3.blog__body-title
              a(href="#") ブログタイトルテキストテキストテキストテキスト
            p.blog__text 記事の冒頭文テキストテキストテキストテキストテキストテキストテキストテキスト<br/>
              | テキストテキストテキストテキスト

  include ../includes/_pager



  include ../includes/_document
  include ../includes/_footer
