.price {
  padding-bottom: 62px;
  &__title {
    font-size: 32px;
    line-height: 54px;
    text-align: center;
    padding-bottom: 70px;
  }
  &__boxes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  &-boxes__item {
    flex: 1;
    margin-right: 7px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-box {
    text-align: center;
    &__header {
      padding: 21px;
      margin-top: 43px;
      background-color: $colorBlue;
      color: $colorWhite;
      text-align: center;
      &-orange {
        padding: 21px;
        color: $colorWhite;
        text-align: center;
        background-color: $colorOrange;
      }
    }
    &__title {
      font-size: 1.125rem;
      line-height: 35px;
      span {
        display: block;
        line-height: 27px;
      }
    }
    &__price {
      font-size: 25px;
      font-weight: bold;
      line-height: 40px;
      padding-bottom: 14px;

      &-orange {
        font-size: 25px;
        font-weight: bold;
        line-height: 40px;
        padding-bottom: 14px;

        color: $colorOrange;
      }
    }
    &__lead {
      line-height: 27px;
      padding-bottom: 50px;
    }
    &__body {
      padding: 15px;
      border: 0.5px solid $colorBlue;
      border-top: 0;
      height: 414px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__feature {
      &:last-child {
        margin-bottom: 0;
      }
      &-text {
        position: relative;
        padding-left: 30px;
        margin-bottom: 20px;
        &::before {
          content: "";
          position: absolute;
          top: 0.1em;
          left: 7px;
          transform: rotate(50deg);
          width: 8px;
          height: 13px;
          border-right: 3px solid $colorBlue;
          border-bottom: 3px solid $colorBlue;
        }
      }
      &-lead {
      }
    }
  }
}
